
<h1><%= @tasks.title %></h1>
<h4>"<%= @tasks.details %>"</h4>
<input type=“checkbox”>
<%= @task.completed ? ‘checked’ : ‘unchecked’ %>
 <%= @task.completed ? ‘the task is completed’ : ‘the task is not yet completed’ %>

<%= link_to 'Back to task', tasks_path %>